.root {
  margin: 0 auto;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.navigation {
  background-color: #333;
  display: flex;
  justify-content: center;
  height: 100px;
}

.navigation-container {
  display: flex;
  justify-content: flex-end;
  position: relative;
  height: 100%;
  width: 1440px;
}

.navigation__logo {
  position: absolute;
  left: 10px;
  height: 100%;
}

.navigation__link {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 40px;
  text-decoration: none;
  font-size: 18px;
  color: white;
}

.navigation__link:hover {
  background-color: #f1c40f;
}

.link-active {
  background-color: #e74c3c;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.banner {
  margin: 80px;
  width: 1440px;
  height: 370px;
  background-color: #222222;
}

.about {
  width: 1170px;
  margin-bottom: 87px;
}
.grid-3 {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid__item {
  width: 310px;
}

.grid__item-logo {
  width: 63px;
  height: 58px;
  margin-right: 20px;
}

.grid__item-title {
  display: flex;
  align-content: center;
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
}

.grid__item-title-height {
  line-height: 58px;
}

.footer {
  padding: 50px;
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
}

.footer__title {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
}

.footer__container {
  width: 1440px;
}
